<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Cyberdyne Generator</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="/logo.png">
</head>
<body>

<!--Main content start-->
<div id="main_content">
    <div>
        <h1>Welcome to Generator</h1>
        <p>Generator web framework powered by <a href="#">Cyberdyne</a></p>
    </div>
</div>
<!--Main content end-->

<!--background start-->
<div id="backg">
    <div id="backg_in">

        <!--Col 1 start-->
        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_1"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_2"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_3"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_4"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_5"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_6"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_7"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_8"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_9"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_10"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_tangle_11"></div>
        <!--regtangle item end-->
        <!--Col 1 end-->


        <!--Col 2 start-->
        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_2_tangle_1"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_2_tangle_2"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_2_tangle_3"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_2_tangle_4"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_2_tangle_5"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_2_tangle_6"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_2_tangle_7"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_2_tangle_8"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_2_tangle_9"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_2_tangle_10"></div>
        <!--regtangle item end-->
        <!--Col 2 end-->


        <!--Col 3 start-->
        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_3_tangle_1"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_3_tangle_2"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_3_tangle_3"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_3_tangle_4"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_3_tangle_5"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_3_tangle_6"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_3_tangle_7"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_3_tangle_8"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_3_tangle_9"></div>
        <!--regtangle item end-->
        <!--Col 3 end-->

        <!--Col 4 start-->
        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_4_tangle_1"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_4_tangle_2"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_4_tangle_3"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_4_tangle_4"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_4_tangle_5"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_4_tangle_6"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_4_tangle_7"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_4_tangle_8"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_4_tangle_9"></div>
        <!--regtangle item end-->
        <!--Col 4 end-->


        <!--Col 5 start-->
        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_5_tangle_1"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_5_tangle_2"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_5_tangle_3"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_5_tangle_4"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_5_tangle_5"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_5_tangle_6"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_5_tangle_7"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_5_tangle_8"></div>
        <!--regtangle item end-->
        <!--Col 5 end-->

        <!--Col 6 start-->
        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_6_tangle_1"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_6_tangle_2"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_6_tangle_3"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_6_tangle_4"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_6_tangle_5"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_6_tangle_6"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_6_tangle_7"></div>
        <!--regtangle item end-->

        <!--regtangle item start-->
        <div class="reg_tangle" id="reg_6_tangle_8"></div>
        <!--regtangle item end-->
        <!--Col 6 end-->

    </div>
</div>
<!--background end-->

</body>
</html>